.hero-container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.sidekick{
  display: flex;
  justify-content: center;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  background-color: var(--primary-color);
}
img{
  min-width: 300x;
  max-width: 400px;
}
@media only screen and (max-width: 1280px) {
    .hero-container {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        flex-direction: column;
      }

}
