@font-face {
  font-family: 'Flexo Medium';
  src: url('./assets/fonts/Flexo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  font-family: 'Flexo Medium', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff url('./assets/images/container_bg.png');
  --primary-color: rgb(46, 47, 48);
  --white-text: rgb(243, 243, 243);
  --secondary-color:rgb(132, 125, 122);
  --tertiary-color:rgb(14, 105, 135)
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}